.table {
    width: 100%;
    border-collapse: collapse;

    thead {
        text-align: left;
        
    }

    tr {
        line-height: 30px;

        &:hover {
            background-color: rgba(0,0,0,0.025);
        }

        td {
            padding-right: 10px;

            &:hover {
                background-color: rgba(0,0,0,0.025);
            }
        }
    }

    tbody {
        tr {
            td {
               border-bottom: 2px solid #f9f9f9;
            }

        }
    }
}