.field {
    display: block;
    margin-bottom: 1rem;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom:1rem;
}

.control {
    display: flex;
}

.input {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #999;

    &:focus {
        outline: 1px solid $color-goiaba;
        border-radius: 5px;
    }
}